In [2]:
import math
import numpy as np
import pandas as pd
import statistics as st
from scipy.stats import norm

# TASK 1

# 1.1

Ho: the average rent for a special purpose industrial space is equal to 33.88  
Ha: the average rent for a special purpose industrial space is not equal to 33.88

Ho: μ = 33.88  
Ha: μ != 33.88

# 1.2

In [3]:
p_mean=33.88
p_std_=1.28
sample_size=49
sample_mean=32.18

# 1.3 Z-Test:

In [17]:
z_statistic=(32.18-33.88)/(1.28/7)
z_statistic

-9.296875000000016

In [18]:
p_value=norm.sf(abs(h))*2
p_value

1.4463410868771357e-20

In [ ]:
#now left-side to consider but its two tailed...

In [20]:
z_critical=norm.ppf(0.025)  #alpha/2
z_critical

-1.9599639845400545

# 1.4

In [25]:
decision=-1.9599639845400545>z_statistic
decision

True

# 1.5

In [30]:
tolerance = 0.025

In [35]:
if p_value < tolerance:
    print("As the P_Value is LESS than tolerance then the Null Hypothesis is 'Not Accepted' i.e; 'Rejected'")
else:
    print("As the P_Value is GREATER than tolerance then the Null Hypothesis is 'Accepted' i.e; 'not Rejected' ")

As the P_Value is LESS than tolerance then the Null Hypothesis is 'Not Accepted' i.e; 'Rejected'

Business Decision:

Considering the Decision_Rule:    
i. If p-value < α/2 : Rejection of Null Hypothesis(H0)  
ii. If -z-critical > z-statistic > +z-critical : Rejection of Null Hypothesis(H0)

A sample of the average of 49 industrial spaces mean 32.18 for sales across the United States, which comes under confidence level or area or region.

By oberserving the P_Value, as a Data Analyst Practioner I would suggest not to accept the Null Hypothesis (status quo) which makes the decision correct.

# TASK 2

# 2.1

Ho: the average distance of javelin thrown by Mac is less than or equal to 85   
Ha: the average distance of javelin thrown by Mac is greater than 85 

Ho: μ <= 0  
Ha: μ > 0

# 2.2

In [57]:
p2_mean=85

p2_std_=2.1

sample_size2=32

sample_mean2=87.5

# 2.3 Z-Test:

In [66]:
#z-statistic=(x-μ)/(σ/n**2)

z_statistic2=(87.5-85)/(2.1/math.sqrt(32))
z_statistic2

6.734350297014738

In [59]:
#

p_value2=norm.sf(abs(z_statistic2))
p_value2

8.233201952582752e-12

In [62]:
#

z_critical2=norm.ppf(1-0.05)
z_critical2

1.6448536269514722

# 2.4

In [68]:
decision2=z_statistic>z_critical2
decision2

True

# 2.5

In [71]:
#tolerance = 1-0.05
α=0.05

In [72]:
if p_value < α:
    print("As the P_Value is LESS than tolerance then the Null Hypothesis is 'Not Accepted' i.e; 'Rejected'")
else:
    print("As the P_Value is GREATER than tolerance then the Null Hypothesis is 'Accepted' i.e; 'not Rejected' ")

As the P_Value is LESS than tolerance then the Null Hypothesis is 'Not Accepted' i.e; 'Rejected'

Business Decision:

Considering the Decision_Rule:  
i. If p-value < α : Rejection of Null Hypothesis(H0)  
ii. If -z-critical > z-statistic > +z-critical : Rejection of Null Hypothesis(H0)

A sample of the average of 32 javelin throws of an undergrad named Mac's mean 87.5 , which comes under confidence level or area or region.

By oberserving the P_Value, as a Data Analyst Practioner I would suggest not to accept the Null Hypothesis (status quo) which makes the decision correct.

# TASK 3

### Read data file:

In [3]:
city_hd_df=pd.read_csv("DS1_C5_S6_Hypothesis_I_Practice_CityPrice_Data.csv")
city_hd_df

    California  Florida
0         2.55     2.25
1         2.36     2.40
2         2.38     2.19
3         2.43     2.39
4         2.73     2.39
5         2.67     2.50
6         2.54     2.33
7         2.24     2.33
8         2.43     2.40
9         2.80     2.49
10        2.50     2.19
11        2.64     2.29
12        2.25     2.59
13        2.38     2.23
14        2.61     2.41
15        2.71     2.56
16        2.80     2.48
17        2.49     2.29
18        2.69     2.28
19        2.43     2.39
20        2.23     2.59
21        2.61     2.58
22        2.57     2.53
23        2.36     2.26
24        2.57     2.39
25        2.56     2.58
26        2.38     2.29
27        2.43     2.27
28        2.71     2.45
29        2.25     2.56
30        2.64      NaN
31        2.27      NaN
32        2.18      NaN

# 3.1

H0: μ = 0  
Ha: μ != 0
    
H0: μ = sales in florida and california are same  
Ha: μ1 = sales in florida and california are not the same

In [4]:
california=city_hd_df.iloc[:33,0]
california

0     2.55
1     2.36
2     2.38
3     2.43
4     2.73
5     2.67
6     2.54
7     2.24
8     2.43
9     2.80
10    2.50
11    2.64
12    2.25
13    2.38
14    2.61
15    2.71
16    2.80
17    2.49
18    2.69
19    2.43
20    2.23
21    2.61
22    2.57
23    2.36
24    2.57
25    2.56
26    2.38
27    2.43
28    2.71
29    2.25
30    2.64
31    2.27
32    2.18
Name: California, dtype: float64

In [5]:
florida=city_hd_df.iloc[:30,1]
florida

0     2.25
1     2.40
2     2.19
3     2.39
4     2.39
5     2.50
6     2.33
7     2.33
8     2.40
9     2.49
10    2.19
11    2.29
12    2.59
13    2.23
14    2.41
15    2.56
16    2.48
17    2.29
18    2.28
19    2.39
20    2.59
21    2.58
22    2.53
23    2.26
24    2.39
25    2.58
26    2.29
27    2.27
28    2.45
29    2.56
Name: Florida, dtype: float64

### California health drink sample statistics:

In [8]:
#California...

c_samples=33
cs_mean=np.nanmean(california)   #extracting mean/average...ignoring NaN values..
cs_std=california.std()
cs_var=0.028   #given   #cs_std**2
#cs_len=len(california)

print(cs_mean)
print(cs_std)
print(cs_var)

2.496666666666667
0.17584913041202863
0.028

### Florida health drink sample statistics:

In [9]:
#Florida

f_samples=30
fs_mean=np.nanmean(florida)   #extracting mean/average...ignoring NaN values...
fs_std=florida.std()
fs_var=0.015   #given   #fs_std**2
#fs_len=len(florida)

print(fs_mean)
print(fs_std)
print(fs_var)

2.3960000000000004
0.12713283848278406
0.015

### Set the value of alpha(α):

In [10]:
#Given the significance/tolerance level...

αα=0.01   #given

# TASK 3.A

### Z-Test:

In [11]:
z_critical=norm.ppf(1-αα/2)
z_critical

2.5758293035489004

>Confidence level given as 99% {α=0.01   #given} in the data dictionary from which we extracted the z_critical i.e; 2.5758293035489004

>(cs_mean - fs_mean) - 2.5758293035489004(math.sqrt(cs_var/s_samples + fs_var/f_samples)  
<=  
µ-µ1  
<=  
(cs_mean - fs_mean) + 2.5758293035489004(math.sqrt(cs_var/s_samples + fs_var/f_samples)

In [12]:
#(cs_mean - fs_mean) - 2.5758293035489004(math.sqrt(cs_var/s_samples + fs_var/f_samples)

lhs=(cs_mean-fs_mean)-2.5758293035489004*(math.sqrt(cs_var/c_samples+fs_var/f_samples))
lhs

0.0060777796992183

In [13]:
#(cs_mean - fs_mean) + 2.5758293035489004(math.sqrt(cs_var/s_samples + fs_var/f_samples)

rhs=(cs_mean-fs_mean)+2.5758293035489004*(math.sqrt(cs_var/c_samples+fs_var/f_samples))
rhs

0.19525555363411506

>So,now as per the formula or say condition comparing the two sides i.e; lhs and rhs:  
lhs  <=  µ-µ1  <=  rhs

>So,the estimated difference value (considering 99% confidence interval)  
in the mean price of a liter of the health drink b/w two cities is:  
    lhs <= µ-µ1 <= rhs

In [14]:
#Therefore;

print(cs_mean-fs_mean)

0.10066666666666668

# TASK 3.B

# Z-Test:

In [18]:
zz_statistic=(cs_mean-fs_mean) / (math.sqrt(cs_var/c_samples + fs_var/f_samples))
zz_statistic

2.7413384193834984

In [20]:
pp_value=norm.sf(abs(zz_statistic))*2
pp_value

0.006118944821314574

In [22]:
zz_critical=norm.ppf(1-αα/2)
zz_critical

2.5758293035489004

### Decision Rule:

>i. If p-value < α : Rejection of Null Hypothesis(H0)  
>ii. If -z-critical > z-statistic > +z-critical : Rejection of Null Hypothesis(H0)

In [23]:
if pp_value<αα:
    
    print("""As the P_Value is LESS than tolerance level(α) then the Null Hypothesis is 'Not Accepted'
i.e; 'Rejected'""")
    
else:
    
    print("""As the P_Value is GREATER than tolerance level(α) then the Null Hypothesis is 'Accepted'
i.e; 'not Rejected' """)

As the P_Value is LESS than tolerance level(α) then the Null Hypothesis is 'Not Accepted'
i.e; 'Rejected'

In [24]:
if zz_statistic>zz_critical:
    
    print("""As the P_Value is LESS than tolerance level(α) then the Null Hypothesis is 'Not Accepted'
i.e; 'Rejected'""")
    
else:
    
    print("""As the P_Value is GREATER than tolerance level(α) then the Null Hypothesis is 'Accepted'
i.e; 'not Rejected' """)

As the P_Value is LESS than tolerance level(α) then the Null Hypothesis is 'Not Accepted'
i.e; 'Rejected'

In [131]:
zz_statistic>zz_critical

True

### Make a business decision:

As per a market analyst, 
By oberserving the P_Value, I would suggest not to accept the Null Hypothesis (status quo) which makes the decision correct.  
As there is difference in the mean of both cities i.e; California and Florida's health drink in each liter.

α   σ   μ